mixin callback-content-desctop
    .product-selection__title Поможем с выбором стройматериалов
    .product-selection__text Оставьте номер телефона, позвоним в течение 10 минут<br> и поможем подобрать кровельные и фасадные материалы
    .product-selection__advantages
        .product-selection__advantages-item
            .product-selection__advantages-icon
                | <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                |     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                |         <g transform="translate(-92.000000, -2095.000000)" fill="#2B2A28">
                |             <g transform="translate(52.000000, 1912.000000)">
                |                 <g transform="translate(40.000000, 178.000000)">
                |                     <path d="M16,21 L12,21 L12,20 L15,20 L15,17 L16,17 L16,21 Z M12,5 L16,5 L16,9 L15,9 L15,6 L12,6 L12,5 Z M0,5 L4,5 L4,6 L1,6 L1,9 L0,9 L0,5 Z M15,11 L16,11 L16,15 L15,15 L15,11 Z M6,6 L6,5 L10,5 L10,6 L6,6 Z M0,11 L10,11 L10,21 L0,21 L0,11 Z" id="Shape"></path>
                |                 </g>
                |             </g>
                |         </g>
                |     </g>
                | </svg>
            .product-selection__advantages-text
                | Любые размеры и формы
        .product-selection__advantages-item
            .product-selection__advantages-icon
                | <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                |     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                |         <g transform="translate(-351.000000, -2094.000000)" fill="#2B2A28" fill-rule="nonzero">
                |             <g transform="translate(52.000000, 1912.000000)">
                |                 <g transform="translate(299.000000, 178.000000)">
                |                     <g transform="translate(0.000000, 4.000000)">
                |                         <path d="M7.99992,0 C3.58171303,0 0,3.58178388 0,7.99978667 C0,12.4177895 3.58171303,16 7.99986666,16 C12.4180203,16 16,12.4179495 16,7.99978667 C16,3.58162388 12.4180736,0 7.99992,0 Z M8.55235587,8.97803319 C8.5519292,8.99904666 8.54878248,9.02006013 8.5458491,9.04112694 C8.54376906,9.05691371 8.54280905,9.07307382 8.53923565,9.08859392 C8.53566226,9.10475403 8.52952883,9.1207008 8.52430207,9.13686091 C8.51806197,9.15638104 8.51224854,9.17584784 8.5040884,9.19424796 C8.50254171,9.19744798 8.50200837,9.20086134 8.50062168,9.20406136 C8.48856814,9.2297682 8.47459458,9.25387503 8.45928765,9.27670184 C8.45832764,9.27808852 8.45704762,9.2794752 8.4560876,9.28086187 C8.43864731,9.30646204 8.41875365,9.32971553 8.39784663,9.35152901 C8.3920332,9.35750238 8.3861131,9.36288909 8.37997967,9.36854246 C8.36157936,9.38608924 8.34221904,9.40214268 8.32163203,9.41680945 C8.31528525,9.42139614 8.30920515,9.42619617 8.30253838,9.43062287 C8.27613794,9.44790299 8.24845747,9.46310309 8.21965699,9.47558317 C8.21341689,9.47835652 8.20691012,9.48000987 8.20056334,9.48251655 C8.17624294,9.49190328 8.15160253,9.49969 8.1261621,9.50561004 C8.11704195,9.50779672 8.10802847,9.50977007 8.09874831,9.51142341 C8.06610777,9.51739678 8.03304055,9.52150348 7.99954666,9.52150348 C7.99277321,9.52150348 7.98583976,9.51942346 7.97906632,9.51915679 C7.94695912,9.51793012 7.91517192,9.51542344 7.88461141,9.50891673 C7.87506458,9.50683671 7.86567776,9.50267668 7.85613094,9.50006333 C7.82765046,9.49232995 7.79981,9.48374322 7.77324955,9.47184981 C7.7702095,9.47030314 7.76700945,9.47003647 7.7639694,9.46864979 L4.69645161,8.02176015 C4.42007367,7.89146594 4.30167169,7.56170374 4.4319672,7.28532857 C4.5622627,7.00911339 4.8920282,6.8905526 5.16840614,7.02084681 L7.44663078,8.09520063 L7.44663078,3.3199688 C7.44663078,3.0144201 7.69436824,2.76668511 7.99992,2.76668511 C8.30547176,2.76668511 8.55320922,3.0144201 8.55320922,3.3199688 L8.55320922,8.96805979 L8.55331589,8.96805979 C8.55331589,8.97136648 8.55235587,8.97467316 8.55235587,8.97803319 Z" id="Shape"></path>
                |                     </g>
                |                 </g>
                |             </g>
                |         </g>
                |     </g>
                | </svg>
                |
            .product-selection__advantages-text
                | Изготовим за 1 день
    .form-item-wrapper
        .form-item
            input.input-phone.user-phone(type="tel" maxlength="18" minlength="18" required name="phone")
            button.btn.form-submit Ok
        .form-item-text Нужен только для звонка. Без спама.
    .good-text-wrapper
        .attention-block
            .attention-block__icon
                | <svg width="18px" height="20px" viewBox="0 0 18 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                |     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                |         <g transform="translate(-593.000000, -330.000000)" fill="#FFFFFF">
                |             <g>
                |                 <g transform="translate(416.000000, 272.000000)">
                |                     <g transform="translate(164.000000, 48.000000)">
                |                         <path d="M13,21.1228 C14.7936575,23.4428 17.2811007,27.0869333 18.9894291,30 C22.886213,22.7648 26.8255942,16.4934667 31,11.2922667 L29.7296047,10 C26.0995581,13.8664 21.9784997,19.9682667 18.871984,24.9682667 C17.4092959,23.0296 16.277577,21.5996 14.5054199,19.4808 L13,21.1228" id="Fill-1-Copy"></path>
                |                     </g>
                |                 </g>
                |             </g>
                |         </g>
                |     </g>
                | </svg>
            .attention-block__text-wrapper
                .attention-block__title
                    | Спасибо за заявку
                .attention-block__text
                    | Позвоним в течение 10 минут на номер <span class="current-phone"></span>
        button.prev
            | <svg width="11px" height="8px" viewBox="0 0 11 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            |     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            |         <g transform="translate(-96.000000, -775.000000)" fill="#555553" fill-rule="nonzero">
            |             <g transform="translate(56.000000, 456.000000)">
            |                 <g transform="translate(40.000000, 313.000000)">
            |                     <g transform="translate(0.000000, 7.000000)">
            |                         <path d="M3.58825677,-0.879680231 C3.74333024,-1.04010659 3.98746616,-1.04010659 4.14253963,-0.879680231 C4.29237413,-0.724673682 4.29237413,-0.466690755 4.14253963,-0.312045526 L1.33200772,2.59550156 L10.6063788,2.59550156 C10.8225736,2.59550156 11,2.77327131 11,2.99692877 C11,3.22058624 10.8225736,3.40413712 10.6063788,3.40413712 L1.33200772,3.40413712 L4.14253963,6.3062644 C4.29237413,6.46669075 4.29237413,6.725035 4.14253963,6.87968023 C3.98746616,7.04010659 3.74333024,7.04010659 3.58825677,6.87968023 L0.112375872,3.28381735 C-0.0374586241,3.1288108 -0.0374586241,2.87082788 0.112375872,2.71618265 L3.58825677,-0.879680231 Z" id="Path"></path>
            |                     </g>
            |                 </g>
            |             </g>
            |         </g>
            |     </g>
            | </svg>
            | <span>Назад</span>
mixin callback-desctop(class_modification)
    if class_modification === undefined
        form(class='product-selection')
            +callback-content-desctop
    else
        form(class='product-selection' + class_modification)
            +callback-content-desctop
