extends pug/base

append vars
	- title = "vsmk"
	- meta.viewport = "width=device-width, initial-scale=1"

block content
	+header
	main.main-content
		section.section-page.template-wrapper.about
			.content-text
				h1 Группа компаний «ВСМК»
				p Поставщик кровельных и фасадных материалов в г. Иркутске с 2000 года.
				p Основное направление компании&nbsp;&mdash; собственное производство и&nbsp;реализация стройматериалов: профнастил, рулонная сталь, металлочерепица, металлосайдинг, арматурный прокат, винтовые сваи, водосточные системы и&nbsp;многое другое.
				p Подходят для частных и&nbsp;многоквартирных домов, гаражей, навесов, садовых построек и&nbsp;других типов зданий.
				p Нашими клиентами стали предприятия в&nbsp;Иркутской области, Москве, Новосибирске, Красноярска и&nbsp;других городах России.
				h3 Преимущества
				p
					| Цены на стройматериалы без накрутки и посредников;<br>
					| Доставляем на стройплощадку своим транспортом;<br>
					| Сертифицированное оборудование.
			.about-img
				picture.about-picture
					source(srcset="images/o_nas_1x.webp" type="image/webp")
					img(src="images/o_nas_1x.png" alt="О нас")
		.template-wrapper
			+callback-desctop('about-callback')
	+footer
	+callback-block
