extends pug/base

append vars
    - title = "vsmk"
    - meta.viewport = "width=device-width, initial-scale=1"
    - link.appleTouchIcon180x180 = "favicon/apple-touch-icon.png"
    - link.icon16x16 = "favicon/favicon-16x16.png"
    - link.icon32x32 = "favicon/favicon-32x32.png"
    - link.manifest = "favicon/site.webmanifest"
    - link.maskIcon.href = "favicon/safari-pinned-tab.svg"
    - link.maskIcon.color = "#fff84d"
    - meta.msapplicationTileColor = "#ffffff"
    - meta.themeColor = "#ffffff"

block content
    +header('other-page')
    main.main-content
        section.section-page.template-wrapper.contact
            .contact__text
                .content-text
                    h1 Контактная информация
                    .contact-title Офис
                    .address г. Иркутск, ул. Ракитная, д. 18/5
                    .contact-information
                        .contact-information__item
                            .contact-information__icon
                                | <svg class="phone-icon" width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                |     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                |         <g transform="translate(-52.000000, -332.000000)" fill="#2B2A28" fill-rule="nonzero">
                                |             <g transform="translate(52.000000, 326.000000)">
                                |                 <g transform="translate(0.000000, 6.000000)">
                                |                     <path d="M7.00002885,0 C3.13429649,0 0,3.13428357 0,7 C0,10.8656587 3.13429649,14 7.00002885,14 C10.8657612,14 14,10.8656299 14,7 C14.0000289,3.13428357 10.8657612,0 7.00002885,0 Z M10.6965067,10.2137746 L10.1360277,10.7743667 C10.0359638,10.8742859 9.74295666,10.936638 9.73355042,10.936638 C7.96044599,10.9521034 6.25321407,10.2556408 4.99883762,9.00115413 C3.7410276,7.74262796 3.04375425,6.02931502 3.06248016,4.25024525 C3.06248016,4.24943736 3.12665032,3.96482775 3.22662765,3.86580299 L3.78707776,3.30526862 C3.99216834,3.09922673 4.38613384,3.00611691 4.66211743,3.09844769 L4.78001278,3.13777483 C5.05518848,3.23001904 5.34409843,3.5342778 5.42012737,3.81458826 L5.70205478,4.84932772 C5.77808372,5.13044607 5.67553843,5.5303826 5.47050555,5.73547233 L5.09627584,6.10975821 C5.46369613,7.46996364 6.53095773,8.53742282 7.8913996,8.90573605 L8.26548505,8.53136361 C8.47152779,8.32532172 8.8713217,8.22286341 9.15183529,8.29877662 L10.1864347,8.58171274 C10.4668041,8.65875123 10.7710064,8.94584223 10.8632221,9.22093023 L10.9025494,9.34052744 C10.9939573,9.61573086 10.9015684,10.0096082 10.6965067,10.2137746 Z"></path>
                                |                 </g>
                                |             </g>
                                |         </g>
                                |     </g>
                                | </svg>
                            a(href="tel:83952404061").contact-information__text 8 (3952) 40-40-61
                        .contact-information__item
                            .contact-information__icon
                                | <svg class="mail-icon" width="16px" height="12px" viewBox="0 0 16 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                |     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                |         <g transform="translate(-52.000000, -365.000000)" fill="#2B2A28" fill-rule="nonzero">
                                |             <g transform="translate(52.000000, 358.000000)">
                                |                 <g transform="translate(0.000000, 7.000000)">
                                |                     <g>
                                |                         <path d="M15.9740247,9.99143014 C15.9740247,10.3411397 15.8755226,10.665337 15.7177284,10.9505753 L10.6740741,5.31517808 L15.6630453,0.956252055 C15.8571193,1.2638137 15.9740247,1.62509589 15.9740247,2.01550685 L15.9740247,9.99143014 Z M7.98702881,6.3384 L14.9290206,0.272646575 C14.6441481,0.116909589 14.323358,0.0214027397 13.9773169,0.0214027397 L1.99674074,0.0214027397 C1.6502716,0.0214027397 1.32938272,0.116909589 1.04566255,0.272646575 L7.98702881,6.3384 Z M9.92240329,5.97143014 L8.31552263,7.37638356 C8.22153086,7.45814795 8.10449383,7.49898082 7.98702881,7.49898082 C7.86949794,7.49898082 7.75246091,7.45814795 7.65846914,7.37638356 L6.05122634,5.97136438 L0.943769547,11.6787945 C1.24990947,11.8705973 1.60869136,11.9855014 1.99670782,11.9855014 L13.9773169,11.9855014 C14.3652675,11.9855014 14.724214,11.8705973 15.0302551,11.6787945 L9.92240329,5.97143014 Z M0.311045267,0.956219178 C0.117004115,1.26378082 0,1.62506301 0,2.01550685 L0,9.99146301 C0,10.3411726 0.0980411523,10.6653699 0.256427984,10.9506082 L5.29948971,5.31422466 L0.311045267,0.956219178 Z"></path>
                                |                     </g>
                                |                 </g>
                                |             </g>
                                |         </g>
                                |     </g>
                                | </svg>
                            a(href="mailto:vsmk38@bk.ru").contact-information__text vsmk38@bk.ru

                    .contact-title Юр. адрес
                    .address г. Иркутск, ул. Ракитная, 18/1
                    .contact-title.contact-title_requisites Реквизиты
                    .requisites
                        .requisites__item Банк ПАО «Братский АНКБ», г.Братск
                        .requisites__item БИК: 042511741
                        .requisites__item Расчётный счёт: 40702810000040000237
                        .requisites__item Кор. счёт: 30101810000000000741
                        .requisites__item ИНН: 3812110669
                        .requisites__item КПП: 381201001
                        .requisites__item ОГРН: 1143850067811

            .contact__map
                +map('contact-map')
        .template-wrapper
            +callback-desctop('contact-callback other-callback')
    +footer
    +callback-block
