extends pug/base

append vars
	- title = "vsmk"
	- meta.viewport = "width=device-width, initial-scale=1"

block content
	+header
	main.main-content
		.template-wrapper
			section.constructor
				.title-wrapper
					h2.main-h2 Подбор черепицы, профнастила и облицовки
					.additional-title-text Три простых шага для подбора материалов для вашего дома
				.constructor-wrapper
					.constructor-first-page
						picture.first-page-img
							source(srcset="images/home_1x.webp 1x, images/home_2x.webp 2x" type="image/webp")
							img(width="1096" src="images/home_1x.jpg" srcset="images/home_1x.jpg 1x, images/home_2x.jpg 2x" alt="Материалы для дома")
						button.btn.btn-start-constructor Начать
			section.products
				.title-wrapper
					h2.main-h2.main-h2_small Более 10 000 видов строительных материалов
					.additional-title-text Профнастил, рулонная сталь, металлочерепица, металлосайдинг, арматурный прокат, винтовые сваи и многое другое
				.products-list
					figure.products-list__item.products-front-panels.viewport-checker-block.hide-block
						picture.products-img
							source(srcset="images/catalog1.webp 1x, images/catalog1_2x.webp 2x" type="image/webp")
							img(width="344" src="images/catalog1.jpg" srcset="images/catalog1.jpg 1x, images/catalog1_2x.jpg 2x" alt="Фасадные панели")
						figcaption.products-list__text
							h3.products-list__title Фасадные панели
							.products-list__additional Материал из профнастила или сайдинга
					figure.products-list__item.products-roofing.viewport-checker-block.hide-block
						picture.products-img
							source(srcset="images/catalog2.webp 1x, images/catalog2_2x.webp 2x" type="image/webp")
							img(width="720" src="images/catalog2.jpg" srcset="images/catalog2.jpg 1x, images/catalog2.jpg 2x" alt="Кровельное покрытие")
						figcaption.products-list__text
							h3.products-list__title Кровельное покрытие
							.products-list__additional
								| Металлочерепицца или профнастил&nbsp;&mdash; защищают дом от&nbsp;влаги, проникновения<br> холодного воздуха и&nbsp;обладают теплоизолирующими свойствами
					figure.products-list__item.products-fences.viewport-checker-block.hide-block
						picture.products-img
							source(srcset="images/catalog3.webp 1x, images/catalog3_2.webp 2x" type="image/webp")
							img(width="344" src="images/catalog3.jpg" srcset="images/catalog3.jpg 1x, images/catalog3.jpg 2x" alt="Заборы")
						figcaption.products-list__text
							h3.products-list__title Заборы
							.products-list__additional
								| Стальные или кирпичные ограждения
					figure.products-list__item.products-screw-piles.viewport-checker-block.hide-block
						picture.products-img
							source(srcset="images/catalog4.webp 1x, images/catalog4_2.webp 2x" type="image/webp")
							img(width="344" src="images/catalog4.jpg" srcset="images/catalog4.jpg 1x, images/catalog4_2.jpg 2x" alt="Винтовые сваи")
						figcaption.products-list__text
							h3.products-list__title Винтовые сваи
							.products-list__additional
								| Гарантируют устойчивость и безопасности всего сооружения в целом
					figure.products-list__item.products-drainage-systems.viewport-checker-block.hide-block
						picture.products-img
							source(media="(min-width: 1157px)" srcset="images/catalog5.webp 1x, images/catalog5_2.webp 2x" type="image/webp")
							source(media="(max-width: 1156px)" srcset="images/catalog5_1156.webp 1x, images/catalog5_2x_1156.webp 2x" type="image/webp")
							source(media="(max-width: 1156px)" srcset="images/catalog5_1156.jpg 1x, images/catalog5_2x_1156.jpg 2x" type="image/jpg")
							img(width="344" src="images/catalog5.jpg" srcset="images/catalog5.jpg 1x, images/catalog5_2.jpg 2x" alt="Водосточные системы")
						figcaption.products-list__text
							h3.products-list__title Водосточные системы
							.products-list__additional
								| Предназначены для водоотвода с разных типов кровель
					.viewport-checker-block.products-form
						+callback-desctop
			.about-section
				.about-section__text
					a(href="#").standart-link.about-section__title Группа компаний «ВСМК»
					.about-section__container-text
						p
							| Поставщик кровельных и&nbsp;фасадных материалов в&nbsp;г. Иркутске с&nbsp;2000&nbsp;года.
						p
							| Основное направление компании – собственное производство и реализация стройматериалов: профнастил, рулонная сталь, металлочерепица, металлосайдинг, арматурный прокат, винтовые сваи, водосточные системы и многое другое.
						p
							| Подходят для частных и многоквартирных домов, гаражей, навесов, садовых построек и других типов зданий.
				.about-section__map
					+map
	+footer
	+callback-block
