extends pug/base

append vars
    - title = "vsmk"
    - meta.viewport = "width=device-width, initial-scale=1"

block content
    +header
    main.main-content
        .template-wrapper
            section.constructor
                .title-wrapper
                    h2.main-h2 Подбор черепицы, профнастила и облицовки
                    .additional-title-text Три простых шага для подбора материалов для вашего дома
                .constructor-wrapper
                    .constructor-first-page
                        picture.first-page-img
                            source(srcset="images/home_1x.webp" type="image/webp")
                            img(src="images/home_1x.jpg" alt="Материалы для дома")
                        button.btn.btn-start-constructor Начать
            section.products
                .title-wrapper
                    h2.main-h2.main-h2_small Более 10 000 видов строительных материалов
                    .additional-title-text Профнастил, рулонная сталь, металлочерепица, металлосайдинг, арматурный прокат, винтовые сваи и многое другое
                .products-list
                    figure.products-list__item.products-front-panels
                        picture.products-img
                            source(srcset="images/catalog1.webp" type="image/webp")
                            img(src="images/catalog1.jpg" alt="Фасадные панели")
                        figcaption.products-list__text
                            h3.products-list__title Фасадные панели
                            .products-list__additional Материал из профнастила или сайдинга
                    figure.products-list__item.products-roofing
                        picture.products-img
                            source(srcset="images/catalog2.webp" type="image/webp")
                            img(src="images/catalog2.jpg" alt="Кровельное покрытие")
                        figcaption.products-list__text
                            h3.products-list__title Кровельное покрытие
                            .products-list__additional
                                | Металлочерепицца или профнастил&nbsp;&mdash; защищают дом от&nbsp;влаги, проникновения<br> холодного воздуха и&nbsp;обладают теплоизолирующими свойствами
                    figure.products-list__item.products-fences
                        picture.products-img
                            source(srcset="images/catalog3.webp" type="image/webp")
                            img(src="images/catalog.jpg" alt="Заборы")
                        figcaption.products-list__text
                            h3.products-list__title Заборы
                            .products-list__additional
                                | Стальные или кирпичные ограждения
                    figure.products-list__item.products-screw-piles
                        picture.products-img
                            source(srcset="images/catalog4.webp" type="image/webp")
                            img(src="images/catalog4.jpg" alt="Винтовые сваи")
                        figcaption.products-list__text
                            h3.products-list__title Винтовые сваи
                            .products-list__additional
                                | Гарантируют устойчивость и безопасности всего сооружения в целом
                    figure.products-list__item.products-drainage-systems
                        picture.products-img
                            source(srcset="images/catalog5.webp" type="image/webp")
                            img(src="images/catalog5.jpg" alt="Водосточные системы")
                        figcaption.products-list__text
                            h3.products-list__title Водосточные системы
                            .products-list__additional
                                | Предназначены для водоотвода с разных типов кровель
                    +callback-desctop
            section.about-section
                .about-section__text
                    a(href="#").standart-link.about-section__title Группа компаний «ВСМК»
                    .about-section__container-text
                        p
                            | Поставщик кровельных и&nbsp;фасадных материалов в&nbsp;г. Иркутске с&nbsp;2000&nbsp;года.
                        p
                            | Основное направление компании – собственное производство и реализация стройматериалов: профнастил, рулонная сталь, металлочерепица, металлосайдинг, арматурный прокат, винтовые сваи, водосточные системы и многое другое.
                        p
                            | Подходят для частных и многоквартирных домов, гаражей, навесов, садовых построек и других типов зданий.
                .about-section__map
                    +map
    +footer
