extends pug/base

append vars
    - title = "vsmk"
    - meta.viewport = "width=device-width, initial-scale=1"

block content
    header.main-header
        .template-wrapper.header-contacts
            a(href="tel:83952404061").phone-link 8 (3952) 40-40-61
            .operation-mode
                | В будни c 9:00 до 18:00, Сб - Вс с 10:00 до 17:30
            a(href="#").callback Заказать обратный звонок
        .template-wrapper.header-menu
            .main-logo
            .logo-text
                | Системы кровельных<br> и фасадных материалов
            nav.main-nav
                ul.main-nav__list
                    li.main-nav__li
                        a(href="#") О КОМПАНИИ
                    li.main-nav__li
                        a(href="#") КОНТАКТЫ
    main.main-content
        .template-wrapper
