// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-placeholder: rgba(43,42,40,.6);
$color-black: #000;
$color-white: #fff;
$color-main: #2b2a28;
$color-body: #f5f5f5;
$color-light-black: #1b1a1f;
$color-header: #2b2a28;
$color-grey-header-background: #353534;
$color-constructor-shadow: #dededf;
$color-yellow-btn: #ffd84d;
$color-yellow-btn-hover: #ffd02a;
$color-yellow-btn-shadow: #ddb527;
// FONTS
$fonts-open-sans: 'Open Sans', sans-serif;
