// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-placeholder: rgba(43,42,40,.6);
$color-black: #000;
$color-white: #fff;
$color-main: #2b2a28;

// FONTS
$fonts-open-sans: 'Open Sans', sans-serif;
