// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";

body {
  font-family: $fonts-open-sans;
  font-weight: 400;
  color: $color-main;
  font-size: 16px;
  background-color: $color-body;
}
.layout-template-wrapper {
  position: relative;
  display: block;
  min-height: 100vh;
}
.layout-template-wrapper__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.template-wrapper {
  max-width: 1126px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.header-contacts {
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 15px;
}
.phone-link {
  font-weight: 600;
  line-height: 20px;
  margin-right: 16px;
}
.operation-mode,
.callback-link {
  font-size: 14px;
  line-height: 20px;
  color: $color-light-black;
  opacity: .9;
}
.callback-link {
  transition: .3s ease;
  border-bottom: 1px dashed rgba(27,26,31,.3);
}
.callback-link:hover {
  border-bottom-color: rgba(27,26,31,.6);
}
.operation-mode {
  margin-right: 24px;
}
.header-menu {
  background: $color-header;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(25, 22, 38, 0.5), 0 1px 0 0 #4b4c51;
  display: flex;
  align-items: center;
  color: $color-white;
  position: relative;
  height: 56px;
  overflow: hidden;
}
.logo-text {
  font-size: 12px;
  font-style: italic;
  line-height: 16px;
  margin-right: 127px;
}
.main-nav__list {
  display: flex;
  height: 100%;
}
.main-nav__li a {
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: .6px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-nav__li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: $color-white;
  left: 0;
  bottom: 0;
  transition: .3s ease;
  opacity: 0;
}
.main-nav__li.active a::after {
  opacity: 1;
}
.main-nav__li a::before {
  position: absolute;
  content: '';
  transition: .3s ease;
  filter: blur(15px);
  background-color: #ffd84d;
  width: 73px;
  height: 56px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 34px);
  z-index: 1;
  opacity: 0;
}
.main-nav__li a:hover::before {
  opacity: 1;
}
.header-menu-background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 380px;
  background-color: $color-grey-header-background;
  z-index: 1;
}
.header-menu-background::before {
  content: '';
  width: 28px;
  height: 56px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../images/arrow_menu2.png") no-repeat;
  background-size: 100%;
  transform: translate(100%, 0);
}
.header-menu-background::after {
  content: '';
  width: 36px;
  height: 56px;
  position: absolute;
  background: url("../images/arrow_menu.svg") no-repeat;
  background-size: 100%;
  top: 0;
  right: 0;
  transform: translateX(43px);
}
.header-menu__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
}
.main-logo {
  margin-left: 29px;
  margin-right: 20px;
  position: relative;
  top: 2px;
}
.main-nav__li {
  padding: 0 20px;
}
.main-nav-wrapper {
  position: relative;
  z-index: 2;
  margin-top: -4px;
}
.main-nav {
  height: 100%;
}
.main-h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  margin-bottom: 15px;
  text-align: center;
}
.additional-title-text {
  font-size: 18px;
  line-height: 1.56;
  max-width: 600px;
  text-align: center;
}
.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 37px;
}
.first-page-img {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 0 0 $color-constructor-shadow;
  height: 584px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
  }
}
.btn {
  font-weight: 600;
  line-height: 1.5;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 $color-yellow-btn-shadow;
  background-color: $color-yellow-btn;
  transition: .3s ease;
}
.btn:hover,
.btn:focus {
  background-color: $color-yellow-btn-hover;
}
.btn:focus {
  outline: none;
}
.btn-start-constructor {
  padding: 10px 78px 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 52px;
}
.constructor-first-page {
  position: relative;
}
.constructor {
  margin-bottom: 11px;
}
.products-list {
  display: grid;
  width: 100%;
  grid-template: repeat(3, 360px) / repeat(3, calc((100% - 64px) / 3));
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  margin-top: 4px;
}
.products-roofing {
  grid-area: 1 / 2 / 2 / 4;
}
.products-drainage-systems {
  grid-area: 2 / 3 / 4 / 4;
}
.product-selection {
  grid-area: 3 / 1 / 4 / 3;
}
.products-list__text {
  background-color: $color-white;
  flex-grow: 1;
  padding: 22px 24px 22px 16px;
}
.products-list__item {
  border-radius: 4px;
  box-shadow: 0 2px 0 0 #dededf;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main-h2_small {
  font-size: 28px;
  margin-bottom: 16px;
}
.products-list__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 3px;
}
.products-list__additional {
  font-size: 14px;
  line-height: 1.43;
}
.product-selection {
  border-radius: 4px;
  box-shadow: 0 2px 14px 0 rgba(47, 51, 77, 0.25);
  background-color: $color-white;
  padding: 46px 159px 46px 40px;
}
.product-selection__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.28;
  margin-bottom: 21px;
}
.product-selection__text {
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 23px;
}
.product-selection__advantages {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
.product-selection__advantages-text {
  font-size: 16px;
  line-height: 1.5;
}
.product-selection__advantages-item {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.product-selection__advantages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}
.form-item {
  width: 296px;
  height: 48px;
  border-radius: 4px;
  border: solid 1px #cdcdd2;
  display: flex;
  align-items: flex-start;
  transition: .3s ease;
  &.focus {
    border-color: $color-yellow-border-input-focus;
    outline: 6px solid $color-yellow-outline-focus;
  }
}
.input-phone {
  width: 197px;
  height: 100%;
  border-radius: 4px 0 0 4px;
  flex-shrink: 0;
  padding: 10px 16px 14px;
}
.input-phone:focus {
  outline: none;
}
.form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-radius: 0 4px 4px 0;
  height: calc(100% + 1px);
  margin-top: -1px;
  flex-shrink: 0;
}
