// stylelint-disable at-rule-empty-line-before
@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "animation";
@import "animate";
@import "retina";


body {
  font-family: $fonts-open-sans;
  font-weight: 400;
  color: $color-main;
  font-size: 16px;
  background-color: $color-body;
}

.layout-template-wrapper {
  position: relative;
  display: block;
  min-height: 100vh;
}

.layout-template-wrapper__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.template-wrapper {
  max-width: 1126px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.header-contacts {
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 15px;
}

.phone-link {
  font-weight: 600;
  line-height: 20px;
  margin-right: 16px;
}

.operation-mode,
.callback-link {
  font-size: 14px;
  line-height: 20px;
  color: $color-light-black;
}

.callback-link {
  transition: .3s ease;
  border-bottom: 1px dashed rgba(27, 26, 31, .3);
}

.callback-link:hover {
  border-bottom-color: rgba(27, 26, 31, .6);
}

.operation-mode {
  margin-right: 24px;
  opacity: .9;
}

.header-menu {
  background: $color-header;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(25, 22, 38, 0.5), 0 1px 0 0 #4b4c51;
  display: flex;
  align-items: center;
  color: $color-white;
  position: relative;
  height: 56px;
  overflow: hidden;
}

.logo-text {
  font-size: 12px;
  font-style: italic;
  line-height: 16px;
  margin-right: 127px;
}

.main-nav__list {
  display: flex;
  height: 100%;
}

.main-nav__li a {
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: .6px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.main-nav__li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: $color-white;
  left: 0;
  bottom: 0;
  transition: .3s ease;
  opacity: 0;
}

.main-nav__li.active a::after {
  opacity: 1;
}

.main-nav__li a::before {
  position: absolute;
  content: '';
  transition: .3s ease;
  width: 141px;
  height: 56px;
  background-image: url("../images/hover_1x.png");
  background-repeat: no-repeat;
  background-size: 141px 56px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  z-index: 1;
  opacity: 0;
}

.main-nav__li a:hover::before {
  opacity: 1;
}

.header-menu-background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 380px;
  background-color: $color-grey-header-background;
  z-index: 1;
}

.header-menu-background::before {
  content: '';
  width: 28px;
  height: 56px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../images/arrow_menu2.png") no-repeat;
  background-size: 100%;
  transform: translate(100%, 0);
}

.header-menu-background::after {
  content: '';
  width: 36px;
  height: 56px;
  position: absolute;
  background: url("../images/arrow_menu.svg") no-repeat;
  background-size: 100%;
  top: 0;
  right: 0;
  transform: translateX(43px);
}

.header-menu__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
}

.main-logo {
  margin-left: 29px;
  margin-right: 20px;
  position: relative;
  top: 2px;
}

.main-nav__li {
  padding: 0 20px;
}

.main-nav__li.active .main-nav-wrapper {
  color: rgba(255, 255, 255, .6);
}

.main-nav-wrapper {
  position: relative;
  z-index: 2;
  margin-top: -4px;
}

.main-nav {
  height: 100%;
}

.main-h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  margin-bottom: 15px;
  text-align: center;
}

.additional-title-text {
  font-size: 18px;
  line-height: 1.56;
  max-width: 600px;
  text-align: center;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 37px;
}

.first-page-img {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 0 0 $color-constructor-shadow;
  height: 584px;

  img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover; object-position: center;';
  }
}

.btn {
  font-weight: 600;
  line-height: 1.5;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 $color-yellow-btn-shadow;
  background-color: $color-yellow-btn;
  transition: .3s ease;
}

.btn:hover,
.btn:focus {
  background-color: $color-yellow-btn-hover;
  //outline: none;
}

.btn:active {
  box-shadow: 0 1px 0 0 rgba(221, 181, 39, 0);
}

.btn-start-constructor {
  padding: 10px 78px 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 52px;
}

.constructor-first-page {
  position: relative;
}

.constructor {
  margin-bottom: 11px;
  position: relative;
  z-index: 2;
}


.products-list {
  display: grid;
  width: 100%;
  grid-template: repeat(3, 360px) / repeat(3, calc((100% - 64px) / 3));
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  margin-top: 4px;
}

.products-img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  font-family: 'object-fit: cover; object-position: center;';
  width: 100%;
}

.products-roofing {
  grid-area: 1 / 2 / 2 / 4;
}

.products-drainage-systems {
  grid-area: 2 / 3 / 4 / 4;
}

.products-list__text {
  background-color: $color-white;
  flex-grow: 1;
  padding: 22px 24px 22px 16px;
}

.products-list__item {
  border-radius: 4px;
  box-shadow: 0 2px 0 0 #dededf;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.main-h2_small {
  font-size: 28px;
  margin-bottom: 16px;
}

.products-list__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 3px;
}

.products-list__additional {
  font-size: 14px;
  line-height: 1.43;
}

.product-selection {
  border-radius: 4px;
  box-shadow: 0 2px 14px 0 rgba(47, 51, 77, 0.25);
  background-color: $color-white;
  padding: 46px 157px 46px 40px;
  height: 100%;

  &.animateShake .form-item {
	animation: shake-horizontal .8s ease forwards;
  }
}

.product-selection__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.28;
  margin-bottom: 21px;
}

.product-selection__text {
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 23px;
}

.product-selection__advantages {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.product-selection__advantages-text {
  font-size: 16px;
  line-height: 1.5;
}

.product-selection__advantages-item {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.product-selection__advantages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.form-item {
  width: 296px;
  height: 48px;
  border-radius: 4px;
  border: solid 1px #cdcdd2;
  display: flex;
  //align-items: center;
  align-items: flex-start;
  transition: .3s ease;
  margin-bottom: 9px;

  &.focus {
	border-color: $color-yellow-border-input-focus;
	box-shadow: 0px 0px 0px 3px $color-yellow-box-shadow-focus;
  }

  & label.error {
	display: none !important;
  }
}

.input-phone {
  width: 197px;
  height: 100%;
  border-radius: 4px 0 0 4px;
  flex-shrink: 0;
  padding: 10px 16px 14px;
}

.input-phone:focus {
  outline: none;
}

.form-submit {
	border-radius: 0 4px 4px 0;
	transition: .3s ease;
	width: 98px;
	margin-top: -1px;
	height: calc(100% + 1px);
	box-shadow: 0 1px 0 0 rgba(221, 181, 39, 1);
	display: block;
  	text-align: center;
  &:active {
	margin-top: 2px;
	height: calc(100% - 4px);
	width: 94px;
	box-shadow: 0 1px 0 0 rgba(221, 181, 39, 0);
  }
}

.form-item-text {
  opacity: .8;
  font-size: 14px;
  line-height: 1.43;
}

.form-item-wrapper.hide-information {
  display: none;
}

.good-text-wrapper {
  display: none;
  margin-top: -4px;

  &.show-information {
	display: block;
  }
}

.good-text-wrapper.show-information .information-icon {
  animation: animationSuccess .3s ease-in-out forwards;
}

.attention-block {
  border-radius: 2px;
  border: solid 1px $color-blanchedalmond-border-attention;
  background-color: $color-moccasin-background-attention;
  display: flex;
  align-items: flex-start;
  padding: 14px 41px 17px 24px;
  width: 522px;
  margin-bottom: 9px;
}

.information-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $color-green-attention-icon;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  margin-top: 6px;
  flex-shrink: 0;
  opacity: 0;
  transform: translateY(-10px);

  & svg {
	margin-right: -3px;
  }
}

.attention-block__title {
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1px;
}

.attention-block__text {
  font-size: 14px;
  line-height: 1.714;
}

.prev {
  display: flex;
  align-items: center;

  & svg {
	margin-top: -2px;
  }
}

.prev span {
  font-size: 14px;
  line-height: 20px;
  opacity: .8;
  transition: .3s ease;
  border-bottom: 1px dashed rgba(43, 42, 40, .3);
  margin-left: 10px;
}

.prev span:hover {
  border-bottom-color: rgba(43, 42, 40, .6);
}

.product-selection.animation .form-item__wrapper-viewportchecker {
  animation: shake-horizontal .4s ease;
}

.standart-link {
  color: $color-ocean-blue;
  position: relative;
  transition: .3s ease;

  &:hover {
	color: $color-tomato;
  }

  &::before {
	content: '';
	position: absolute;
	width: 19px;
	height: 10px;
	background: url("../images/link.svg") no-repeat;
	top: 0;
	left: 0;
	display: block;
	margin-left: -10px;
	margin-top: 10px;
	transform: translate(-100%, 0);
	opacity: 0;
	transition: .3s ease;
  }

  &:hover::before {
	opacity: 1;
  }
}

.about-section__title {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.45;
  margin-bottom: 29px;
}

.about-section__container-text p {
  line-height: 1.75;
  margin-bottom: 16px;
}

.products {
  margin-bottom: 103px;
  position: relative;
  z-index: 1;
}

.about-section__text {
  //max-width: 504px;
  //width: 100%;
  //flex-shrink: 0;
}

.about-section {
  display: flex;
  align-items: flex-start;
  margin-bottom: 116px;
}

.map-block {
  height: 288px;
  overflow: hidden;
  border-radius: 4px;
  width: 558px;
}

.about-section__map {
  flex-grow: 1;
  margin-left: 34px;
  margin-top: 8px;
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px dashed rgba(43, 42, 40, .3);
  padding-top: 29px;
  padding-bottom: 9px;
}

.footer-menu__item a {
  line-height: 1.4;
  transition: .3s ease;
  border-bottom: 1px solid rgba(43, 42, 40, .3);

  &:hover {
	border-bottom-color: rgba(43, 42, 40, .6);
  }
}

.footer-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.copywriting {
  width: 100%;
}

.footer-phone {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 5px;
  color: $color-main;

  &::before {
	content: none;
  }
}

.footer-operation-mode {
  font-size: 14px;
  line-height: 1.71;
}

.mmit-text {
  font-size: 14px;
  line-height: 1.71;
}

.mmit-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1px;
}

.copywriting {
  font-size: 12px;
  color: $color-grey-footer;
  opacity: .6;
  line-height: 1.4;
  margin-top: 38px;
}

.privacy-policy {
  transition: .3s ease;
  border-bottom: 1px solid rgba(50, 53, 56, .3);
  margin-left: 16px;

  &:hover {
	border-bottom-color: rgba(50, 53, 56, .6);
  }
}

.main-footer {
  margin-top: auto;
}

.footer-menu__item + .footer-menu__item {
  margin-top: 10px;
}

.footer-column2 {
  margin-right: auto;
  margin-left: 184px;
}

.footer-column3 {
  margin-right: 45px;
}

.mmit-svg {
  margin-bottom: 4px;
}

.viewport-checker-block.hide-block {
  opacity: 0;
}

.viewport-checker-block.animation {
  animation: fadeInUp 1s ease;
}

.products-roofing,
.products-screw-piles {
  animation-delay: .3s;
}

.products-drainage-systems {
  animation-delay: .6s;
}

.products-form {
  grid-area: 3 / 1 / 4 / 3;
}

.callback-form-wrapper.mfp-bg {
  backdrop-filter: blur(2px) !important;
}

.callback {
  max-width: 368px;
  width: 100%;
  margin: 30px auto;
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: 0 2px 14px 0 rgba(47, 51, 77, 0.25);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.animation .callback__phone-input {
	animation: shake-horizontal .4s ease;
  }
}

.mfp-content {
  opacity: 0;
  transform: translateY(-200px);
}

.callback-form-wrapper.mfp-ready .mfp-content {
  animation: animationOpenCallbackForm .25s ease forwards;
}

.callback-form-wrapper.mfp-removing .mfp-content {
  animation: animationCloseCallbackForm .25s ease forwards;
}

.callback-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 30px 59px;

  &.hide-information {
	display: none;
  }
}

.callback-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 14px;
}

.callback__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 192px;
  width: 100%;

  & label.error {
	display: none !important;
  }
}

.callback-label {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 14px;
  display: inline-block;
}

.form-input {
  max-width: 192px;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: solid 1px $color-grey-form-input;
  transition: .3s ease;
  padding: 10px 15px 14px;
  line-height: 1.5;
}

.form-input:focus {
  border-color: $color-yellow-border-input-focus;
  outline: none;
  box-shadow: 0px 0px 0px 3px $color-yellow-box-shadow-focus;
}

.callback-btn {
  max-width: 192px;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0 14px;
}

.callback__item + .callback__item {
  margin-top: 28px;
}

.callback__text {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  margin-top: 9px;
}

.mfp-close {
  width: 40px;
  height: 40px;
  background: url("../images/close.svg") no-repeat center !important;
  transition: .3s ease;
  font-size: 0;
}

.form-answer {
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 48px 66px 58px;
  display: none;

  &.show-information {
	display: flex;
  }
}

.form-answer.show-information .information-icon {
  animation: animationSuccess .3s ease-in-out forwards;
}

.answer-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 6px;
}

.answer-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.information-icon_with-new-margin {
  margin: 0;
  margin-bottom: 24px;
}

.fake-menu {
  height: 56px;
  width: 100%;
  display: none;

  &.show {
	display: block;
  }
}

.header-wrapper.fixed {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  & .header-menu {
	border-radius: 0 0 4px 4px;
  }
}

.about {
  display: flex;
  align-items: flex-start;
}

.section-page {
  margin-top: 75px;
}

.about__text {
  max-width: 656px;
  width: 100%;
}

.content-text {
  h1 {
	font-size: 28px;
	font-weight: 800;
	line-height: 1.29;
	margin-bottom: 37px;
  }

  p {
	line-height: 1.75;
	margin-bottom: 16px;
  }

  h3 {
	font-weight: 700;
	line-height: 1.5;
	margin-top: 30px;
	font-size: 16px;
	margin-bottom: 14px;
  }
}

.about-picture {
  position: relative;
  top: 13px;
  left: 55px;
  width: 384px;
  height: 384px;
  border-radius: 50%;
  overflow: hidden;
}

.about-callback, .contact-callback {
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 144px;
}

.contact-title {
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8px;
}

.address {
  line-height: 1.5;
}

.contact-information__item {
  display: flex;
  align-items: center;
}

.contact-information__text {
  font-size: 16px;
  color: $color-ocean-blue;
  transition: .3s ease;
}

.contact-information__text:hover {
  color: $color-tomato;
}

.contact-information__icon {
  margin-right: 16px;
}

.contact-information {
  margin-top: 16px;
  margin-bottom: 32px;
}

.contact-information__item + .contact-information__item {
  margin-top: 8px;
}

.phone-icon {
  margin-top: 5px;
}

.mail-icon {
  margin-top: 7px;
}

.contact-title_requisites {
  margin-top: 48px;
  margin-bottom: 13px;
}

.requisites {
  font-size: 14px;
  line-height: 1.14;
}

.requisites__item + .requisites__item {
  margin-top: 9px;
}

.contact-callback {
  margin-top: 49px;
}

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact__text {
  max-width: 456px;
  width: 100%;
  //flex-shrink: 0;
  padding-right: 30px;
}

.contact__map {
  width: 558px;
  padding-top: 11px;

  & .map-block {
	height: 520px;
  }
}

.button-submit-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.callback-form-wrapper ~ .layout-template-wrapper {
  filter: blur(15px);
}
.burger-mobile {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 16px;
  margin-left: auto;
  display: none;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
}
.burger-mobile.active {
  & .burger-mobile__item:nth-child(2) {
    opacity: 0;
  }
  & .burger-mobile__item:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  & .burger-mobile__item:nth-child(3) {
    bottom: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}
.burger-mobile__item {
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background-color: $color-white;
  position: absolute;
  left: 0;
  transition: .3s ease;
}
.burger-mobile__item:nth-child(1) {
  top: 0;
}
.burger-mobile__item:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger-mobile__item:nth-child(3) {
  bottom: 0;
}
.open-mobile-menu {
  & .mobile-menu {
    display: block;
    max-height: 226px;
    height: auto;
    overflow-y: auto;
  }
  & .header-wrapper {
    height: 100vh;
    overflow: hidden;
    background-color: $color-body;
	position: fixed;
	top: 0;
	z-index: 300;
  }
}
.mobile-menu__wrapper {
  padding: 0 8px;
}
.mobile-menu {
  display: none;
}
.mobile-menu__item a {
  font-size: 16px;
  line-height: 1.5;
  transition: .3s ease;
  color: $color-ocean-blue;
  &:hover {
    color: $color-tomato;
  }
}
.mobile-menu__nav {
  padding-top: 30px;
  padding-bottom: 35px;
}
.mobile-menu__item + .mobile-menu__item {
  margin-top: 16px;
}
.header-contacts__mobile {
  flex-direction: column;
  align-items: flex-start;
  .operation-mode {
    font-size: 12px;
    font-style: italic;
    line-height: 1.67;
    margin-bottom: 8px;
  }
}
.no-scroll {
  overflow: hidden !important;
  position: fixed !important;
  height: 100vh !important;
}
.callback-form-wrapper.mfp-wrap {
  overflow: hidden auto;
}
.product-selection-text {
  display: block;
}
.burger-mobile__list {
  width: 16px;
  height: 14px;
  position: relative;
  display: block;
}
.current-phone {
  display: inline-flex;
}
.main-header .main-logo {
  pointer-events: none;
}
.other-page .main-logo {
  pointer-events: auto;
}
.content-picture {
  display: none;
  background: rgb(255, 216, 77);
}
.constructor-start-page {
  height: 584px;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 #dededf;
  display: flex;
  display: none;
}
.constructor-aside {
  width: 400px;
  background: $color-white;
  border-radius: 4px 0 0 4px;
  box-shadow: 12px 0 12px -12px rgba(9, 18, 29, 0.5);
  position: relative;
  z-index: 2;
}
.constructor-tabbed {
  height: 100%;
}
.constructor-list {
  display: flex;
  padding: 16px 24px 0;
  border-bottom: 1px solid $color-silver;
}
.constructor-list__item {
  margin-right: 24px;
  & a {
    color: $color-ocean-blue;
    line-height: 1.25;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 12px;
    transition: .3s ease;
    position: relative;
    &:hover {
      color: $color-tomato;
    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      background: $color-tomato;
      display: block;
      bottom: 0;
      left: 0;
      transition: .3s ease;
      opacity: 0;
    }
  }
  &:last-item {
   margin-right: 0;
  }
}
.section-tabs-controls {
  padding: 37px 16px 37px 24px;
  height: calc(100% - 49px);
  overflow-y: auto;
  &:focus {
    outline: none;
  }
}
.section-tabs-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: $color-main;
  margin-bottom: 18px;
}
.control-constructor {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;
}
.control-constructor__item-button {
  display: inline-flex;
  flex-wrap: wrap;
  width: calc((100% / 3) - 16px);
  margin-right: 16px;
  margin-bottom: 27px;
  .constructor-img {
    height: 100%;
    width: 100%;
    transition: 0.3s ease;
    object-fit: contain;
    object-position: center;
    font-family: 'object-fit: contain; object-position: center;';
    display: block;
  }
  &:hover {
    .img-container {
      box-shadow: 0 0 0 2px rgba(168, 176, 186, 0.3);
    }
  }
  &.active .img-container {
    border-color: $color-ocean-blue;
    box-shadow: 0 0 0 2px rgba(0, 84, 185, 0.3);
  }
  &:focus {
    outline: none;
  }
  &:focus .img-container {
    border-color: $color-ocean-blue;
  }
}
.constructor-text {
  font-size: 14px;
  line-height: 1.43;
  color: $color-main;
  margin-top: 9px;
}
.img-container {
  background: $color-white;
  height: 80px;
  border: 1px solid $color-grey;
  transition: .3s ease;
  border-radius: 2px;
  overflow: hidden;
}
.constructor-list__item a[aria-selected="true"] {
  color: $color-main;
}
.constructor-list__item a[aria-selected="true"]::before {
  opacity: 1;
}
.control-constructor__item-radio {
  font-size: 16px;
  line-height: 1.5;
  padding-left: 28px;
  position: relative;
  margin-right: 24px;
  &::before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $color-grey;
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    transition: .3s ease;
    z-index: 2;
  }
  &::after {
    content: '';
    position: absolute;
    width: calc(100% + 24px);
    height: calc(100% + 8px);
    border-radius: 16px;
    background: $color-pale-grey-two;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: .3s ease;
    opacity: 0;
  }
  span {
    position: relative;
    z-index: 2;
  }
  &:hover::after {
    opacity: 1;
  }
  &.active::before {
    border: 4px solid $color-ocean-blue;
  }
  &:focus {
    outline: none;
  }
  &:focus::before {
    border-color: $color-ocean-blue;
  }
}
.control-constructor__item-radio:last-child {
  margin-right: 0;
}
.control-constructor__item-color {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  margin-right: 16px;
  position: relative;
  transition: .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    box-shadow: 0 0 0 3px rgba(0, 84, 185, 0.3);
  }
  &.active::before {
    content: '';
    width: 12px;
    height: 12px;
    background: url("../images/check_2.svg") no-repeat center;
    background-size: 100%;
  }
}
.control-constructor__item-color:last-child {
  margin-right: 0;
}
.roof-color-red {
  background: $color-rust-red;
}
.roof-color-green {
  background: $color-green;
}
.roof-color-brown {
  background: $color-chestnut;
}
.roof-color-blue {
  background: $color-ocean-blue;
}
.roof-color-light-black {
  background: $color-black-two;
}
.roof-color-grey {
  background: $color-pale-grey-three;
}
.constructor-result {
  flex-grow: 1;
  position: relative;
  z-index: 1;
}
.result-img-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.result-constructor-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  font-family: 'object-fit: cover; object-position: center;';
  border-radius: 0 4px 4px 0;
}
.btn-calculate {
  padding: 10px 21px 14px;
}
.btn-calculate-wrapper {
  position: absolute;
  bottom: 52px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}
.info-list-item-wrapper {
  position: absolute;
}
.info-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $color-tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;
  &:hover {
    opacity: 0.8;
  }
}
.info1 {
  top: 24%;
  left: 45%;
  z-index: 3;
}
.info-content-wrapper {
  position: absolute;
  background: $color-white;
  width: 368px;
  padding: 37px 8px 37px 22px;
  border-radius: 8px;
  height: 447px;
  left: 50%;
  bottom: -16px;
  transform: translate(-50%, 100%);
  box-shadow: 0 2px 14px 0 rgba(47, 51, 77, 0.25);
  display: none;
  &::before {
    content: "";
    border: 8px solid transparent;
    border-bottom: 8px solid $color-white;
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.info-content-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 35px;
}
.info-content-list {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 101px);
  overflow-y: auto;
}
.info-content-list__item {
  width: calc((100% / 3) - 16px);
  margin-right: 16px;
  margin-bottom: 29px;
}
.info-img-wrapper {
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid $color-cool-grey;
  & .info-img {
    width: 100%;
    height: 72px;
  }
}
.info-img-text {
  font-size: 13px;
  line-height: 1.23;
  margin-top: 11px;
}
.custom-scroll::-webkit-scrollbar {
  width: 4px;
  background: transparent;
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  width: 3px;
  background: $color-steel-grey;
  border-radius: 1.5px;
}
.button-close-info {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;
  &:hover {
    opacity: 0.8;
  }
}
.info2 {
  top: 40%;
  left: 60%;
  z-index: 2;
}
//.constructor-wrapper {
//  min-height: 584px;
//}

@import "media";